@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
body {
	/*background-color: #1E0956;*/
	/*color: #FF6600;*/
	padding: 0%;
	margin: 0%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
	text-align: center;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.left-img {
	float: left;
}

.title {
	text-align: center;
	/*width: 99%;*/
}

.menu {
	width: 100%;
	height: 10%;
	text-align: center;
	/*background-color: #9B970C;*/
}

.bottom {
	width: 100%;
	height: 10%;
	text-align: center;
}

.menu ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

blockquote {
	text-align: center;
}

.menu ul li {
	display: inline;
}

.menu ul li a {
	color: black;
	text-decoration: none;
	padding: 1%;
}

.menu ul li a:hover {
	color: blue;
}

.main {
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 0%;
	/*width: 100%;*/
}

.neutral {
	/*background-color: #6CBAC9;*/
	color: #0F1111;
}

.evil {
	/*background-color: #D10000;*/
	color: #0F1111;
}

.good {
	/*background-color: #BCD89E;*/
	color: #0F1111;
}

.split-container {
	position: absolute;
	width: 100%;
	height: 200%;
}

.split {
}

.left {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 90%;
	width: 50%;
	padding: 1%;
	font-size: 1.2em;
}

.right {
	position: absolute;
	top: 0%;
	right: 0%;
	height: 90%;
	width: 50%;
	padding: 1%;
	font-size: 1.2em;
}

.down {
	position: absolute;
	bottom: 0%;
	width: 100%;
}

.cure {
	padding: 1%;
}

.warn {
	font-style: italic;
}

.cult {
	padding: 1%;
}

strong {
    font-family: 'Girassol', cursive;	
}

.ancient-mystery {
    font-family: 'Girassol', cursive;	
}

.opinion {
	/*width: 100%;*/
	height: 100%;
	margin-bottom: 10%;
	padding: 1%;
}

.expert {
	/*color: green;*/
}

#logo-name {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/*color: #6a6562;*/
	font-size: 32px;
	font-style: normal;
	font-weight: 200;
	line-height: 1.0263;
	display: inline;
	animation-name: logo-name-frames;
	animation-duration: 2s;
	animation-timing-function: ease;
}

#logo-corner-right {
	position: absolute;
	bottom: -3px;
	right: -6px;
	border-right: 1px solid #7f8c8d;
	border-bottom: 1px solid #7f8c8d;
	width: 40px;
	height: 20px;
	animation-name: corner-right-frames;
	animation-duration: 0.6s;
	animation-timing-function: ease;
}

#logo-corner-left {
	position: absolute;
	top: -20px;
	left: -6px;
	border-top: 1px solid #7f8c8d;
	border-left: 1px solid #7f8c8d;
	width: 40px;
	height: 20px;
	animation-name: corner-left-frames;
	animation-duration: 0.6s;
	animation-timing-function: ease;
}

@keyframes corner-right-frames {
	0% {
		opacity: 0;
		width: 1px;
		height: 1px;
	}

	100% {
		opacity: 1;
		width: 40px;
		height: 20px;
	}
}

@keyframes corner-left-frames {
	0% {
		opacity: 0;
		width: 1px;
		height: 1px;
	}

	100% {
		opacity: 1;
		width: 40px;
		height: 20px;
	}
}

@keyframes logo-name-frames {
	0% {
		opacity: 0;
	}


	100% {
		opacity: 1;
	}
}

#table-of-horror th {
	text-align: center;
}

#table-of-horror td {
	text-align: center;
}

.external-link {
	text-decoration: none;
	color: blue;
}
.external-link:visited {
	color: blue;
}
.external-link:hover {
	text-decoration: underline;
}
